.card-article {
  position: relative;
  margin: 50px auto;
  box-sizing: border-box;
  width: 288px;
  overflow: hidden;
  min-height: 462px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(1, 54, 157, 0.15);
}

.card-article:hover .card-article__image {
  height: 160px;
}

@media (min-width: 768px) {
  .card-article {
    width: 330px;
    min-height: 515px;
    border-radius: 10px;
  }

  .card-article:hover .card-article__image {
    height: 158px;
  }

  .card-article:hover .card-article__content {
    padding: 0 20px 10px;
  }
}

@media (min-width: 1440px) {
  .card-article {
    width: 348px;
    min-height: 548px;
    border-radius: 10px;
  }

  .card-article:hover .card-article__content {
    padding: 0 20px 30px;
  }
}
