.header__logo {
  margin: 0 auto;
  transition: all .5s;
  transform: translate(0px);
}
.header__logo_active {
  /* transform: translate(-110px); */
  transition: all 0.5s;
}
@media screen and (min-width: 479px) {
  .header__logo_active {
    margin-left: 0;
    z-index: 10;
  }
}
