.news-card {
    font-family: 'Open Sans';
    max-width: 288px;
    min-height: 250px;
    padding: 16px;
    background: rgba(224, 240, 255, 1);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}