.news-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: rgba(224, 240, 255, 1);
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    width: 288px;
}