.burger-menu__item {
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.burger-menu__item:hover {
  background-color: #001337;
}

@media screen and (min-width: 767px) and (max-width: 1023px){
  .burger-menu__item  {
    padding-left: 40px;
  }
}
