.card-article__read {
  display: flex;
  align-items: center;
  min-width: 165px;
  justify-content: space-between;
  text-decoration: none;
}

@media (min-width: 768px) {
  .card-article__read {
    min-width: 206px;
  }
}
