.card-article__read-and-share {
  position: absolute;
  z-index: 1;
  bottom: 0;
  box-sizing: border-box;
  width: 288px;
  background-color: rgba(0, 159, 172, 1);
  min-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  transition: transform 0.4s ease-in-out;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media (min-width: 768px) {
  .card-article__read-and-share {
    min-height: 60px;
    padding: 0 20px;
    width: 330px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media (min-width: 1440px) {
  .card-article__read-and-share {
    min-height: 70px;
    width: 348px;
  }
}
