.card-article__read-and-share {
  background-color: rgba(0, 159, 172, 1);
  min-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .card-article__read-and-share {
    min-height: 60px;
    padding: 0 20px;
  }
}

@media (min-width: 1440px) {
  .card-article__read-and-share {
    min-height: 70px;
  }
}
