.person__position {
  font-style: italic;
	font-weight: 400;
	font-size: 10px;
	line-height: 1.4;
	color: #009FAC;
	margin: 5px auto 0;
}

@media screen and (min-width: 768px) {
	.person__position {
	  font-size: 11px;
	}
}

@media screen and (min-width: 1440px) {
	.person__position {
	  font-size: 14px;
	}
}