.burger-menu__submenu-title {
  height: 44px;
  display: flex;
  align-items: center;
  border: 1px solid red;
  padding-left: 16px;
}
.burger-menu__submenu-title:hover{
  
  background-color: aliceblue;
}