.card-article__content {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding: 0 4px 16px 16px;
  background-color: white;
  border-radius: 5px;
  min-height: 214px;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 768px) {
  .card-article__content {
    padding: 0 20px 20px;
    min-height: 247px;
    border-radius: 10px;
  }
}

@media (min-width: 1440px) {
  .card-article__content {
    padding: 0 20px 30px;
    min-height: 255px;
  }
}
