.header__menu-exit {
  position: absolute;
  right: 16px;
  top: 12px;

  cursor: pointer;

  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  background: url('../../../images/menu_exit-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(0); 
  opacity: 0;
  transition: .5s;
}
.header__menu-exit_active {
  display: block;
  transform: scale(1); 
  opacity: 1;
  transition-duration: .5s;
  transition-timing-function: ease;
}