.research__item-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1px;
    margin: 0;
    padding: 0;
}

@media (min-width: 1440px){
    .research__item-subtitle{
        font-size: 14px;
        line-height: 20px;
    }
}