.communications {
  display: flex;
  flex-direction: column;
  padding: 40px 16px;
  background-color: rgba(0, 159, 172, 1);
}

@media (min-width: 768px) {
  .communications {
    padding: 60px 40px;
  }
}

@media (min-width: 1440px) {
  .communications {
    padding: 80px 162px 35px;
  }
}
