.our-projects__page-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    column-gap: 27px;
}

@media screen and (min-width: 768px) {
    .our-projects__page-list {
        column-gap: 47px;
    }
}