.person {
  display: flex;
  flex-direction: column;
  padding: 10px;
	background-color: #fff; 
	align-items: center;
}

@media screen and (min-width: 768px) {
  .person {
    padding: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .person {
    padding-bottom: 30px;
  }
}