.burger-menu__wrap {
  background-color: #000d26;
  border: 1px solid white;
}
@media screen and (min-width: 321px) and (max-width: 1023px){
  .burger-menu__wrap{
    max-width: 330px;
  }
}
@media screen and (min-width: 1023px){
  .burger-menu {
    display: none;
  }
}
