.header {
  display: flex;
  max-width: 320px;
  background-color: #000D26;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 728px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    max-width: 1440px;
  }
}

