@media screen and (min-width: 479px) {
  .header__wrap {
    height: 60px;
  }
}

@media screen and (min-width: 767px) {
  .header__wrap {
    height: 60px;
  }
}

@media screen and (min-width: 991px) {
  .header__wrap {
    height: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .header__wrap {
    max-width: 80px;
  }
}
